body {
    background: white;
}/* */

.logo {/* logo PHOTOSHOP */
    height: 200px;
    width: 200px;
    margin: 20px auto;
    border-radius: 20%;
    background: rgb(32, 44, 64);
    color: rgb(111, 168, 249);
    text-align: center;
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 200px;
    align-content: center;
    letter-spacing: -4px;
}


/* EFECTOS */
.contenedor{
    width: 1100px;
    margin: 50px auto;


}
.efecto {
    margin: 10px;
    width: 200px;
    height: 250px;
    text-align: center;
    float: left;
    background: orange;


}
.efecto img{ 
    width: 200px;
    height: 200px;
}


 /*    FILTROS IMAGENES*/
.desenfocar img {
    -webkit-filter: blur(10px); /* Como es Experminetal se pone "-webkit" para Safari*/
       -moz-filter: blur(10px); /* Como es Experminetal se pone "-moz" para Firefox*/    
         -o-filter: blur(10px); /* Como es Experminetal se pone "-o" para Opera*/
            filter: blur(10px);
}
.grises img{
    filter: grayscale(100%);
}

.sombra img{
    filter: drop-shadow(6px 6px 6px purple ); /* sombra: desplazamiento X, desplazamiento Y, difuminado y color */
}

.sepia img {
    filter: sepia(100%);
}

.luminosidad img {
    filter: brightness(200%);
}

.contraste img {
    filter: contrast(200%);
}

.tono img{
    filter: hue-rotate(90deg);
}

.invertir img {
    filter: invert(100%);
}
.saturar img {
    filter: saturate(200%);
}

.opacidad img {
    filter: opacity(50%);
}

h1{
    font-size: 40px;
    background-color: gray;
    text-align: center;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}

.fruta {
    background-image:url(../img/fresa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 208px;
    height: 208px;
    margin: auto;
}