

html {
    font-size: 16px;
}

body {
    font-size: 1.2rem;
    font-family: Arial, Helvetica Sans-serif;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    margin:0;
}
.progres {
    height: 10px;
    background: Limegreen;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    scale: 0.2 1;
    animation: analitzador linear;
    animation-timeline: scroll();

}

@keyframes analitzador {
    to{
        scale: 1 1;
    }

}
@media (max-width:480px)
{ body {
    background-color: blue;
    }
}
@media (min-width:481px) and (max-width:1280px)
{ body {
    background-color: blueviolet;
    }
}

@media (min-width:1280px)
{ body {
    background-color: green;
    }
}