body{
    background-color: lightcyan;
}
h1 {
    color: darkblue; 
}

#alternador {
  width: 5rem ;
  height: 5rem ;
  background: #000000;
  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(33, 36, 19, 1) 50%, rgba(255, 255, 255, 1) 100%);
  position: absolute ;
  top : 0.5rem ;
  left : 0.5rem ;
  border-radius: 0.5rem ;
  }

#alternador b {
  background:white ;
  border-color:black;
  display : block ;
  width : 4rem ;
  height : 0.5rem ;
  margin-bottom : 0.5rem ;
  margin-left: 0.5rem;
  
}

input[type="checkbox"] {
  visibility: hidden ;
  
}
* {
  font-family:Arial, sans-serif;
  
}
#alternador ul {
  background: grey ;
  margin-top: 2rem ;
  padding: 0;
  width: 8rem ;

  
}
#alternador li {

    list-style-type:none;
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(33, 36, 19, 1) 50%, rgba(217, 217, 202, 1) 100%);
    padding-left : 0rem ;
    border: solid;
    line-height:2rem ; 
    margin-left:-20px;
    text-align:center;
    float: none;
}
#alternador a {
    color: grey ;
    font-weight: bold ;
    border : black ;
    text-transform: uppercase;
    text-decoration: none;
  }
    
 a:hover {
      color : black;
      
    }
#alternador li:hover 
{
  background : white ;

}


.content {
  max-width: 60ch;
  margin: 2.5rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content p {
  display: block;
  width: 100%;
  text-align: left;
  font-size: calc(1rem * var(--para-scale, 1.25));
  font-weight: 600;
  color: darkblue;
  background-color: #fffdf0;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  margin: 0 0 1rem 0;
  line-height: 1.6;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
    
.desplega {
  position : absolute ;
  left : -10rem; 
  opacity: 1 ;
  transition : all .5s ease ;
}
#alternador label {
  width: 5rem ;
  height: 4rem ;
  background: gold ;
  top: 0rem ;
  left : 0 ;
  border-radius: 0.5rem ;
  cursor: pointer ;
  padding-top: 1rem ;
}

h1 {
  text-align:center ;
  
}


.slider-control {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: rgba(255,255,255,0.95);
  padding: 0.5rem 0.8rem;
  border-radius: 0.6rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  display: flex;
  gap: 0.6rem;
  align-items: center;
  z-index: 60;
}
.slider-control label{
  font-size: 0.85rem;
  color: #333;
}
.slider-control input[type=range]{
  -webkit-appearance: none;
  width: 10rem;
  height: 6px;
  background: linear-gradient(90deg,#ffd54f,#ffb74d);
  border-radius: 6px;
}
.slider-control input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
#alternador input[type=checkbox] : checked+label{
  opacity:1;
}

#alternador input[type=checkbox]:checked+label~.desplega {
  left:0 ;
}

/* aqui comenza elements responsives */
@media (max-width: 480px) 
 {
    #alternador {
    display: visible ;

  }
  .menuhorizontal {
    display : none ;
  }
 }  
@media (min-width: 481px) and (max-width: 1279px) 
 {
 #alternador {
    display: visible ;

  }
  .menuhorizontal {
    display : none ;
  }
 }
@media (min-width: 1280px) 
 {
 #alternador {
    display: none;
    width: 6rem ;
    height: 6rem ;
  }
  .menuhorizontal {
    display : visible ;
  }
 }

