@charset "UTF-8";
/* CSS Document */
* {
    position: relative;
    margin: 0;
    padding: 0;
}


body {
    height: 100%; 
    background-image: url(../img/fons.jpg);
    background:linear-gradient(45deg, transparent 0%, transparent 50%, pink 50%, pink 100%); /*jordi explicame ese degradado el siguente dia */
    text-align: center;
    font-family: Helvetica;
}

.cap {
    height:589px;
}

h1 {
    font-size: 4em;
    line-height: 2em;
    color: grey;
    z-index: 1000;
}

h1 b {
    color: #eee;
}

.animacion {
    height: 586px;
    top: -6em;
    background-repeat: no-repeat;
    animation: cotxes 40s linear;
    z-index: 500;
}

@keyframes cotxes{
0% {
        background-image:url("../img/ani/pulp.png");
    }
11% {
        background-image:url("../img/ani/taxi.png");
    }
22% {
        background-image:url("../img/ani/bond.png");
    }
33% {
        background-image:url("../img/ani/ghost.png");
    }
44% {
        background-image:url("../img/ani/bean.png");
    }
55% {
        background-image:url("../img/ani/back.png");
    }
66% {
        background-image:url("../img/ani/rider.png");
    }
77% {
        background-image:url("../img/ani/team.png");
    }
    
88% {
        background-image:url("../img/ani/ghost.png");
    }
    
100% {
        background-image:url("../img/ani/back.png");
    }
    
}

.cos {
    height: 780px;
}

.peu {
    height: 220px;
}

.cap, .cos, .peu {
    width: 960px;
    margin: 0 auto;
}

.cos .peli {
    width: 300px;
    height: 240px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    opacity: 0.5;
}

.cos .peli .nom {
    height: 40px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    transition: 1s;
}

.peli:hover {
    opacity: 1;
    animation: rotacio 0.3s linear;
}

#pulp {
        background-image: url(../img/small/small_pulp.jpg);
}
#taxi {
        background-image: url(../img/small/small_taxi.jpg);
}
#gold {
        background-image: url(../img/small/small_bond.jpg);
}
#fantasmin {
        background-image: url(../img/small/small_ghost.jpg);
}
#bean {
        background-image: url(../img/small/small_bean.jpg);
}
#back {
        background-image: url(../img/small/small_back.jpg);
}
#knight {
        background-image: url(../img/small/small_rider.jpg);
}
#team {
        background-image: url(../img/small/small_team.jpg);
}
#break {
        background-image: url(../img/small/small_break.jpg);
}


@keyframes rotacio {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.peu {
    text-align: center;
}


@media (max-width: 940px) and (min-width: 601px) {

.cap, .cos, .peu {
        width: 100%; 
        padding: 0 10px;
    }
}

.cos {
        height: auto; 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
    }

.cos .peli {
        width: 45%; 
        margin: 2%;
        float: none; 
    }


@media (max-width: 600px) {

.cap, .cos, .peu  {
        width: 80%;
    }

h1 { font-size: 2.2em; }

.cos {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.cos .peli {
        width: 90%; 
        margin: 10px 0;
        float: none;
    }
}